<div class="amp-ca-banner js_ca_banner">
    <div class="amp-ca-banner-pic-wrap">
        {{dynamicTemplate renderTypes.image renderTypes image}}
    </div>
    <div class="amp-ca-banner-info-wrap
    {{#if stackMobileLayout}}amp-ca-info-bottom{{/if}}
        {{#unless header}}
            {{#unless subheader}}
                {{#unless description}}
                    {{#unless button.label}}
                        amp-ca-hide
                     {{/unless}}
                {{/unless}}
            {{/unless}}
        {{/unless}}"
         data-align="{{#if alignment}}{{alignment}}{{else}}left{{/if}}">

        <div class="amp-ca-banner-info" style="{{#bannerConfig}} {{/bannerConfig}}">
            {{#if header}}
                <div class="amp-ca-banner-header">{{header}}</div>
            {{/if}}
            {{#if subheader}}
                <div class="amp-ca-banner-subheader">{{subheader}}</div>
            {{/if}}
            {{#if description}}
                <div class="amp-ca-banner-description">{{description}}</div>
            {{/if}}
            {{#if button.label}}
                <a href="{{button.url}}"
                   class="amp-ca-banner-button {{#if style}}{{style}}{{/if}}">{{button.label}}</a>
            {{/if}}
        </div>
    </div>
</div>
