<div class="amp-ca-card amp-ca-card-{{math addTemplateClassname '+' 1}}">
    {{#if link}}
        <a class="amp-ca-card-wrap" href="{{link}}"
           {{#if textBackgroundColour}}style="background: #{{textBackgroundColour}};"{{/if}}
        >
    {{else}}
        <div class="amp-ca-card-wrap">
    {{/if}}

    <div class="amp-ca-card-img-wrap">
        {{dynamicTemplate false renderTypes image}}
    </div>


    <div class="amp-ca-card-text-wrap
        {{#unless cardName}}
            {{#unless description}}
                {{#unless link}}
                        amp-ca-hide
                 {{/unless}}
            {{/unless}}
        {{/unless}}">

        {{#if cardName}}
            <div class="amp-ca-card-name">{{cardName}}</div>
        {{/if}}
        {{#if description}}
            <p class="amp-ca-card-description">{{description}}</p>
        {{/if}}
        {{#if link}}
            <div class="amp-ca-card-link">
                {{#if linkValue}}
                    {{linkValue}}
                {{else}}
                    >>
                {{/if}}
            </div>
        {{/if}}
    </div>

{{#if link}}
    </a>
{{else}}
    </div>
{{/if}}

</div>
