<div class="amp-ca-splitBlock{{#if split}}{{else}} full-size{{/if}}">
    {{#each content}}
        <div class="amp-ca-split-part {{splitBlock @index ../split}}">
            {{!-- image render type --}}
            {{#iff [@type] '==' 'http://schema.cms.amplience.com/f0b1f9c8-9fbd-4470-aeb2-543c3cb01f19'}}
                <picture class="amp-ca-image">
                    {{#roundelProperties}}
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1600&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=3200&$roundel$&{{roundelConfig roundel}} 2x"
                                media="(min-width: 1280px)"
                                type="image/webp">
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1600&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=3200&$roundel$&{{roundelConfig roundel}} 2x"
                                media="(min-width: 1280px)">

                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1280&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=2560&$roundel$&{{roundelConfig roundel}} 2x"
                                media="(min-width: 1024px)"
                                type="image/webp">
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1280&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=2560&$roundel$&{{roundelConfig roundel}} 2x"
                                media="(min-width: 1024px)">

                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1024&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=2048&$roundel$&{{roundelConfig roundel}} 2x"
                                media="(min-width: 768px)"
                                type="image/webp">
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1024&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=2048&$roundel$&{{roundelConfig roundel}} 2x"
                                media="(min-width: 768px)">

                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=768&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1536&$roundel$&{{roundelConfig roundel}} 2x"
                                media="(max-width: 768px)"
                                type="image/webp">
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=768&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1536&$roundel$&{{roundelConfig roundel}} 2x"
                                media="(max-width: 768px)">

                        <img src="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1600&$roundel$&{{roundelConfig roundel}}"
                             srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1600&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=3200&$roundel$&{{roundelConfig roundel}} 2x,
             //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1600&$roundel$&{{roundelConfig roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=3200&$roundel$&{{roundelConfig roundel}} 2x"
                             class="amp-ca-image-pic" {{#if imageAltText}} alt="{{imageAltText}}" {{/if}}/>
                    {{else}}
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1600 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=3200 2x"
                                media="(min-width: 1280px)"
                                type="image/webp">
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1600 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=3200 2x"
                                media="(min-width: 1280px)">

                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1280 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=2560 2x"
                                media="(min-width: 1024px)"
                                type="image/webp">
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1280 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=2560 2x"
                                media="(min-width: 1024px)">

                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1024 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=2048 2x"
                                media="(min-width: 768px)"
                                type="image/webp">
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1024 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=2048 2x"
                                media="(min-width: 768px)">

                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=768 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1536 2x"
                                media="(max-width: 768px)"
                                type="image/webp">
                        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=768 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1536 2x"
                                media="(max-width: 768px)">

                        <img src="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1600"
                             srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=1600 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}.webp?w=3200 2x,
             //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=1600 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}{{#if seoText}}/{{escapeUrl seoText}}{{/if}}?w=3200 2x"
                             class="amp-ca-image-pic" {{#if imageAltText}} alt="{{imageAltText}}" {{/if}}/>
                    {{/roundelProperties}}
                </picture>
            {{/iff}}

            {{!-- video render type --}}
            {{#iff [@type] '==' 'http://schema.cms.amplience.com/eac8a783-932e-4900-bd96-bcaa84646499'}}
                {{#if video}}
                    <div class='amp-ca-video-wrap'>
                        <video class="amp-ca-video"
                               poster="//{{video.defaultHost}}/v/{{video.endpoint}}/{{video.name}}?protocol=https"
                               controls src="//{{video.defaultHost}}/v/{{video.endpoint}}/{{video.name}}/mp4_720p">
                            <source src="//{{video.defaultHost}}/v/{{video.endpoint}}/{{video.name}}/mp4_720p"
                                    data-res="High" data-bitrate="2119" label="High"
                                    type="video/mpeg4" codecs="h264">

                            <source src="//{{video.defaultHost}}/v/{{video.endpoint}}/{{video.name}}/mp4_480p"
                                    data-res="Medium" data-bitrate="689" label="Medium"
                                    type="video/mpeg4" codecs="h264">

                            <source src="//{{video.defaultHost}}/v/{{video.endpoint}}/{{video.name}}/webm_480p"
                                    data-res="Medium" data-bitrate="624" label="Medium"
                                    type="video/webm" codecs="vp8">
                        </video>
                        <div class="pause-button inactive"></div>
                    </div>
                {{/if}}
            {{/iff}}

            {{!-- text render type --}}
            {{#iff [@type] '==' 'http://schema.cms.amplience.com/c6fe6238-4752-47bc-bc5e-3413d0d08d30'}}
                <div class="amp-ca-text">
                    {{{showdown text}}}
                </div>
            {{/iff}}
        </div>
    {{/each}}
</div>
